<div id="cover" class="<%=params[:action]%>">
<h1>En <strong>Control y Protección Agrícola</strong></h1>
<p>Forjamos relaciones de confianza y a largo plazo con agricultores</p>
</div>

<div id="titulos">
<h2>¿Qué hacemos?</h2>
<hr class="blue">
<p>Ejecutamos estrategias en comercio agrícola que generan beneficios en toda la cadena de valor, logrando minimizar la “feroz volatilidad” que afecta los precios de los productos del campo</p>
</div>


<div id="servicios">
	<ul>
	<div class="row">
		<li class="col-sm-6">
			<div class="izq">
				<h3>Nuestros Productos</h3>
				<hr class="light">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem mollitia magnam atque reprehenderit inventore, ad impedit facere beatae illum eius et, eveniet! Accusantium numquam repudiandae ratione quia consequuntur optio soluta.</p>
				<br>
				<button class="button_white">Más información</button>
			</div>
		</li>
		<li class="col-sm-6">
			<div class="der">
				<h3>Nuestra Operación</h3>
				<hr class="light">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem mollitia magnam atque reprehenderit inventore, ad impedit facere beatae illum eius et, eveniet! Accusantium numquam repudiandae ratione quia consequuntur optio soluta.</p>
				<br>
				<button class="button_white">Más información</button>
			</div>
		</li>
		</div>
	</ul>
</div>

<div id="titulos">

	<h2>¿Quieres conocernos mejor?</h2>
	<hr class="blue">
	<p>Nos gusta escuchar los comentarios de nuestros clientes, queremos hacer de esta experiencia única y nos gustaría saber qué opinas</p>
	<button class="button_blue">Contáctanos</button>
</div>