<div id="cover" class="<%=params[:action]%>">
<div class="container">
<h1><strong>Operación</strong></h1>
</div>
</div>

<div id="lateral">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			<h2>¿Cómo lo hacemos?</h2>
			<hr class="blue">
				<p>Somos especialistas en las operaciones de productos frescos altamente perecederos, lo que nos permite garantizar la entrega de productos con alta calidad y alta vida de anaquel.</p>
			</div>
			<div class="col-md-6">
				<%= image_tag src="agri.jpg" %>
			</div>
		</div>
	</div>
</div>


<div id="titulos">
	<p>Nuestra fortaleza operativa toma como base los siguientes principios:</p>
</div>

<div id="principios">
	<div class="container">
		<ul>
			<div class="row">
				<li class="col-md-3 col-md-offset-2">
					<span class="fa fa-check-square-o"></span>
					<p>Estricto cumplimiento a las Buenas Prácticas Agrícolas (BPAs) y Buenas Prácticas de Manufactura (BPMs)</p>
				</li>
				<li class="col-md-3 col-md-offset-2">
					<span class="fa fa-search"></span>
					<p>Implementación y auditoría de procedimientos de calidad e inocuidad especializados en perecederos.</p>
				</li>
			</div>
			<div class="row">
				<li class="col-md-3 col-md-offset-2">
					<span class="fa fa-signal"></span>
					<p>Monitoreo de nuestros productos a través de un sistema de trazabilidad</p>
				</li>
				<li class="col-md-3 col-md-offset-2">
					<span class="fa fa-cogs"></span>
					<p>Cada acción operativa que realizamos, está enfocada en garantizar el “correcto manejo de la cadena de frío”</p>
				</li>
			</div>
		</ul>
	</div>
</div>