<div id="cover" class="cover_contact">
<div class="container">
	<h1>Gracias</h1>
</div>
</div>


<div id="titulos">
<h1>Gracias por comunicarte con nosotros</h1>
<p>En seguida nos ponemos en contacto contigo</p>

