/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Slabo+27px';

$blue: #006633;
$grey: #505050;
$light_grey: #9c9c9c;
$dark_grey: #3c3c3c;
$red: #e13b8d;

body {
background-color: white;
color: $grey;
-webkit-font-smoothing: antialiased;
	h1,h2,h3,h4,h5,h6 {
		font-family: 'Slabo 27px', serif;
	}
	p, a {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
    line-height: 1.58;
	}
  a {
    &:hover {
    color: $blue;
    background-color: transparent;
  }
  }
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.blue {
	color: $blue;
}

.white {
	color: white;
}
.up {
	text-transform: uppercase;
}

button, .button {
	transition: background-color .25s linear;
  font-size: 14px;
  min-width: 160px;
  border-radius: 20px;
  padding: 11px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
}

.block {
	display: block;
	margin: 0 auto;
}

.button_blue {
	color: $blue;
	border: solid 2.5px $blue;
	&:hover {
    color: white;
    background-color: $blue;
  }
}

.button_grey {
	color: $grey;
	border: solid 2.5px $grey;
	&:hover {
    color: white;
    background-color: $grey;
  }
}

.button_white {
	color: white;
	border: solid 2.5px white;
	&:hover {
    color: $blue;
    background-color: white;
  }
}

hr {
  border-width: 2.8px;
  max-width: 100px;
}
hr.light {
  border-color: white;
}

hr.lefty {
  border-color: $grey;
   border-width: 1.8px;
  max-width: 100px;
  margin-left: -.7rem;
}

hr.blue {
  border-color: $blue;
}

#logo {
	text-align: center;
	padding: .5rem;
	img {
		width: 150px;
	}
}



#menu {
	text-align: center;
	background-color: white;
}

.no_more {
	padding: 0 0 0 -3rem;
	margin: 0 ;
}

ul.topnav {
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    display: table;   /* Allow the centering to work */
		margin: 0 auto;
}

/* Float the list items side by side */
ul.topnav li {
	display: inline;
	margin: .5rem;
	/*float: left;*/
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: $blue;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    border-bottom: solid 4px transparent;
}

/* Change background color of links on hover */
.e a:hover {border-bottom: solid 4px $red;}

.o a:hover {border-bottom: solid 4px $blue;}

.dt a:hover {border-bottom: solid 4px #247471;}

.a a:hover {border-bottom: solid 4px #F1AD06;}

.sd a:hover {border-bottom: solid 4px #F0742E;}

.i a:hover {border-bottom: solid 4px #BF2623;}

.c a:hover {border-bottom: solid 4px #BF2D83;}




/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:950px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:950px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

 #cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 1rem;
	background-attachment: fixed;
	background-blend-mode: multiply;
  background-color: #989898;
}

.index {
	background-image: image-url("index.jpg");
  height: 85vh;
}

.productos {
	background-image: image-url("productos.jpg");
  height: 85vh;
}

.operacion {
	background-image: image-url("operacion.jpg");
  height: 85vh;
}

.cover_contact {
	background-image: image-url("contacto.jpg");
  height: 85vh;
}

#cover.index, #cover.productos, #cover.operacion, #cover.cover_contact {
	padding: 10vh 5vw 0 5vw;
	h1 {
	text-align: left;
	color: white;
	text-transform: uppercase;
	padding: 10vh 5vw 0 0;
	font-size: 5rem;
	margin: 0px;
	}
	p {
		text-align: left;
		color: white;
		font-size: 1.4em;
	}
}

#titulos{
	text-align: center;
	margin: 4rem 0;
	h2 {
		color: $blue;
		text-transform: uppercase;
	}
	p {
		padding: 0 15%;
	}
}

#servicios {
	margin-bottom: 3rem;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			h3 {
				color: white;
				text-transform: uppercase;
			}
			p {
				font-size: 1.1em;
				color: #d8d8d8;
			}
		}
	}
}

#servicios2 {
	margin-bottom: 3rem;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			cursor: pointer;
			margin-bottom: 2rem;
			&:hover p {
				opacity: 1;
			}
			h3 {
				color: white;
				text-transform: uppercase;
			}
			p {
				font-size: 1.1em;
				color: white;
				opacity: 0.01;
			}
		}
	}
}

.izq {
	background-image: image-url("lechuga.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}

.der {
	background-image: image-url("ope.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}

#contacto {
	text-align: center;
}

#footer {
	background-color: $blue;
	padding: 2rem 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin: 0 1rem;
			span {
				margin-right: .5rem;
				color: white; 
				font-size: 1.2em;
			}
			a {
				color: white;
				text-transform: uppercase;
				font-size: 1em;
			}
		}
	}
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}


.tomato {
	background-image: image-url("tomato.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}

.morada {
	background-image: image-url("morada.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}
.pimiento {
	background-image: image-url("pimiento.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}
.ajo {
	background-image: image-url("ajo.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}
.roma {
	background-image: image-url("roma.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}
.blanca {
	background-image: image-url("blanca.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}

.apio {
	background-image: image-url("apio.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}

.lechugas {
	background-image: image-url("lechugas.jpg");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
  background-color: #989898;
	padding: 3rem;
	text-align: center;
}

#map {
 	margin-top: 5rem;
  width: 100%;
  height: 300px;
}

#principios {
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin-bottom: 2rem;
			img {
				width: 50%;
			}
			p {
				padding: 10%;
				font-size: 1em;
			}
			span {
				color: $blue;
				font-size: 2.2em;
			}
		}
	}
}

#lateral {
	text-align: center;
	margin-top: 2rem;
	h2 {
		text-transform: uppercase;
		margin-top: 4rem;
	}
	img {
		width: 100%;
	}
}

input[type="name"], input[type="email"], input[type="number"], input[type="date"], input[type="text"], textarea {
	width: 100%;
	height: 2.5rem;
	padding: 1.5rem;
	border:none;
  border-bottom:1px solid $blue;
  margin-bottom: 1.5srem;
}

textarea {
	margin-top: .5rem !important;
	padding: .3rem 1rem !important;
	height: 10rem;

}

label {
	margin-top: 1rem;
	color: #A9A9A9;
	font-weight: 400;
}